<h1>Users List</h1>

<table width="100%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>Image</th>
        <th>Verified</th>
    </tr>

    

    <% 
        if(users.length > 0){
            for(let i=0;i<users.length;i++){
                %>
                <tr>
                    <td><%= users[i].name %></td>
                    <td><%= users[i].email %></td>
                    <td><%= users[i].mobile %></td>
                    <td><img src="http://localhost:3000//userImages/<%= users[i].image %>" alt="<%= users[i].image %>" width="100px" height="100px"></td>
                    <td><% 
                        if(users[i].is_verified == 0){
                            %>
                            <p>Not verified</p>
                            <%
                        }
                        else{
                            %>
                            <p>Verified</p>
                            <%
                        }
                        %></td>
                </tr>
                <%
            }    
        }else{
            %>
            <tr>
                <td colspan="5">Users not found</td>
            </tr>
            <%
        }
    %>
</table>
<br><br>